{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 85,
  "endOfLine": "auto"
}
