body {
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
  color: #1d1d1d;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
